nav {
  height: 60px;
  background-color: #d6d2d2;
  position: fixed;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.icon {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
}

body {
  background: url("../images/outerspace_landscape.jpeg") no-repeat;
  background-size: cover;
}

main {
  padding-top: 90px;
  min-width: 1000px;
}

.animals{
  margin-top: 150px;
  width: 600px;
  height: 300px;
  position: relative;
  border: 10px dotted green;
  margin-left: auto;
  margin-right: auto;
}


.cat, .dog {
  position: absolute;
  width: 200px;
}

.cat {
  top: -100px;
  left: -100px;
}

.dog {
  bottom: -100px;
  right: -50px;
}
